*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

.logo-institucion{
	padding: 20px;
	text-align: left;
}

.logo-institucion img{
	width: 90px;
}

.contenedor > .titulo,
.contenedor > .contenido,
.contenedor > .info,
.contenedor > .pie-pag,
.contenedor > div{
	border: 1px solid;	
}

.contenedor{
	width: 90%;
	max-width: 1280px;
	padding: 20px;
	margin: 10px auto;
	
	/*GRID*/
	
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
}

.contenedor .titulo,
.contenedor .pie-pag{
	background: #2525D2;
	
	/*GRID*/
	
	grid-column: span 6;
}

.contenedor .contenido{
	padding: 10px;
	text-align: justify;
	grid-column: span 4;
}

.contenido h3{
	padding: 10px;
}

.contenedor .info{
	
	grid-column: span 2;
}

.info{

	padding: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info img{
	margin-left: 76px;
	width: 48%;
}

.enlaces{
	height: 90px;
	
	/*Flexbox*/
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*fotografías utdft*/

.body-foto{
	background-image: linear-gradient(rgb(10, 10, 10), rgb(120, 122, 145));
}

.titulo-imagen h1{
	color: rgb(255, 254, 254);
	text-align: center;
}

.titulo-imagen img{
	width: 10%;
	margin-left: 45%;
}

.contenedor-imagenes{
	max-width: 1280px;
	padding: 10px;
	margin: 20px auto;
	
	/*GRID*/
	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.fotos-areas{
	min-width: 90%;
	height: 100%;
	background-size: cover; /*O también object-fit: cover;*/
	
	/*FLEXBOX*/
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fotos-areas img{
	width: 50%;
}

.fotos-areas h3{
	color: rgb(0, 215, 215);
	font-size: 10px;
}

.fotos-areas p{
	font-size: 12px;
	color: #fff;
}

